<%- include('common/header', { title: 'Dashboard' }) %>
<%- include('common/sidebar') %>

    <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
        <main>
            <div class="pt-6 px-4">
                <h1 class="text-4xl font-bold ">
                    footer
                </h1>
            </div>
        </main>
    </div>

<%- include('common/footer') %>


